/*header*/
/*mobile version*/
@media only screen and (max-width: 767px) {
  header {
    .logo {
      font-size: 17px;
    }
  }
}
/*tablet and laptop version*/
@media only screen and (min-width: 768px) {
  header {
    .logo {
      font-size: 20px;
    }
  }
}
/*contact section*/
/*mobile version*/
@media only screen and (max-width: 425px) {
  .contact {
    .contact__secondaryRow {
      height: 320px;
    }
  }
}
/*tablet and laptop version*/
@media only screen and (min-width: 426px) {
  .contact {
    .contact__secondaryRow {
      height: 230px;
    }
  }
}
/*subscription section*/
/*mobile section*/
@media only screen and (max-width: 767px) {
  .subscription {
    .subscription__p {
      font-size: 17px;
    }
  }
}
/*tablet and laptop version*/
@media only screen and (min-width: 768px) {
  .subscription {
    .subscription__p {
      font-size: 20px;
    }
  }
}
// Index html
/*principal*/
/*mobile version*/
@media only screen and (max-width: 767px) {
  .principal {
    .principal__h1 {
      text-align: center;
    }
    .principal__p {
      text-align: center;
      font-size: 17px;
    }
  }
}
/*tablet and laptop version*/
@media only screen and (min-width: 768px) {
  .principal {
    .container {
      padding-right: 300px;
      .principal__h1 {
        text-align: justify;
      }
      .principal__p {
        font-size: 20px;
      }
    }
  }
}
/*ourProducts section*/
/*mobile version*/
@media only screen and (max-width: 767px) {
  .ourProducts__p {
    font-size: 17px;
  }
}
/*tablet and laptop version*/
@media only screen and (min-width: 768px) {
  .ourProducts {
    .ourProducts__img {
      height: 230px;
    }
    .ourProducts__p {
      font-size: 20px;
    }
  }
}
@media only screen and (min-width: 1024px) {
  .ourProducts {
    .ourProducts__img {
      height: 330px;
    }
  }
}
//gallery html
/*photo section*/
/*mobile and tablet version*/
@media only screen and (max-width: 575px) {
  .photo {
    figure {
      img {
        height: 420px;
      }
    }
  }
}
/*laptop version*/
@media only screen and (min-width: 1024px) {
  .photo {
    figure {
      img {
        height: 300px;
      }
    }
  }
}
//about-us html
/*about-us section*/
/*mobile version*/
@media only screen and (max-width: 767px) {
  .aboutUs {
    .aboutUs__p {
      font-size: 17px;
    }
  }
  .benefits {
    ul {
      li {
        font-size: 17px;
      }
    }
    .benefits__p {
      font-size: 17px;
    }
  }
}
@media only screen and (min-width: 768px) {
  /*tablet and desktop version*/
  .aboutUs {
    .aboutUs__p {
      font-size: 20px;
    }
  }
  .benefits {
    ul {
      li {
        font-size: 20px;
      }
    }
    .benefits__p {
      font-size: 20px;
    }
  }
}
